<div class="text-center">
  <a class="" (click)="changeMonth(-1)">
    <span class="glyphicon glyphicon-chevron-left" id="month-left" ></span></a>
  <span>{{monthNames[month]}}</span>
  <a class="" (click)="changeMonth(1)">
    <span class="glyphicon glyphicon-chevron-right" id="month-right" ></span></a>

  <a class="" (click)="changeMonth(-12)">
    <span class="glyphicon glyphicon-chevron-left" id="year-left" ></span></a>
  <span>{{year}}</span>
  <a class="" (click)="changeMonth(12)">
    <span class="glyphicon glyphicon-chevron-right" id="year-right" ></span></a>

</div>
