<table class="table table-hover" *ngIf="this.tasks">
  <thead>
    <tr>
      <th>task id</th>
      <th>comment</th>
      <th>start time</th>
      <th>end time</th>
      <th>length</th>
      <th>edit</th>
    </tr>
  </thead>
  <tr *ngFor="let task of tasks">
    <td>{{task.taskId}}</td>
    <td>{{task.comment}}</td>
    <td>{{timeToString(task.startTime)}}</td>
    <td>{{timeToString(task.endTime)}}</td>
    <td>{{task.minPerTask}}</td>
    <td>
      <button type="button" class="btn btn-warning" (click)="editTask(task)">edit</button>
      <button type="button" class="btn btn-danger" (click)="deleteTask(task)">delete</button>
    </td>
  </tr>
</table>
