.bg-inverse {
  background-color: #292b2c !important;
}

.text-white {
  color: #fff !important;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

a {
  color: inherit;
  cursor: pointer;
}

a:link, a:visited {
  color: inherit;
}

a:hover {
  color: red;
}

.day:hover {
  color: blue;
  cursor: pointer;
}

.selected {
  color: blue;
}

.negativeExtraMin {
  color: red;
}

.positiveExtraMin {
  color: green;
}

.ng-valid:not(form) {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.center {
  text-align: center;
}
